/* Estilo geral da tela */
body{
    background-color: #ffffff;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: #ffffff;
}

/*navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

/* Título da página */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #111;
}

/* Área de upload */
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  gap: 1rem;
}

/* Botão de upload */
.upload button,
.botao {
  padding: 0.6rem 1.2rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.upload button:hover,
.botao:hover {
  background-color: #e0e0e0;
}

/* Campo de formulário */
.campo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Inputs, textarea e select */
input[type="text"],
textarea,
select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f5f5f5;
  font-size: 1rem;
}

/* Label */
label {
  font-weight: 500;
  color: #333;
}

/* Botão final "Publicar Item" */
.botao {
  align-self: flex-start;
  background-color:#54D12B;
}
